body, html { /*This is to remove white space along top and sides of page*/
  margin: 0px;
  padding: 0px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.nav {
  position: fixed;
  background-color: #316aca; /*blue background-color*/
  color: white;
  text-align: center;
  width: 100%;
  height: 100px;
}

.navSpacer {
  position: static;
  width: 100%;
  height: 100px;
}

.icon {
  background-color: #55da9a; /*green background color*/
  padding: 5px;
  border-radius: 5px;
  color: white; /*text*/
  text-align: center;
  margin: 5px;
  margin-right: 0px;
  display: inline-block;
  min-height: 100px;
  min-width: 100px;
}
